{
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@types/(.*)$",
    "^@constants/(.*)$",
    "^@config/(.*)$",
    "^@lib/(.*)$",
    "^@hooks/(.*)$",
    "^@stores/(.*)$",
    "^@validators/(.*)$",
    "^@integrations/(.*)$",
    "^@sanity/(.*)$",
    "^@components/ui/(.*)$",
    "^@components/(.*)$",
    "^@features/(.*)$",
    "^@services/(.*)$",
    "^@actions/(.*)$",
    "^@server/(.*)$",
    "^@app/(.*)$",
    "^@/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0"
}
